<head>
  <title>On the Spot Dice Roll</title>
</head>

<style>
h1 {
  font-size: 36px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
  font-size: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10;
  margin: 10;
}

li {
  #display: inline-block;
  padding: 20px;
}

a {
  color: blue;
  text-decoration: none;
}

footer {
  color: green;
  text-align: center;
}
</style>

<body>
  <header>
    <h1>On the Spot Dice Roll</h1>
  </header>
  <main>
    <ul>
      <li><a href="/dice/2/6"> Roll Two dice with 6 sides eaach</a></li>
      <li><a href="/dice/2/10"> Roll Two dice with 10 sides each</a></li>
      <li><a href="/dice/5/4"> Roll Four dice with 5 sides each</a></li>
    </ul>
  </main>
  <footer>
  </br></br>
    &copy; 2023 Carlo
  </footer>
</body>
